<div style="display: flex">
  <div style="flex: 1;display: flex;overflow: auto;padding-left: 20px">
    <div class="chessboard">
      <div *ngFor="let row of grid; let i = index" class="row">
        <div *ngFor="let cell of row; let j = index"
             class="cell"
             (click)="rev(i,j)"
             [style.background-color]="getBackgroundColor(cell)"
             [style.width.px]="cellSize"
             [style.height.px]="cellSize">

          <!-- 机器人位置，如果是撞墙显示红色三角形 -->
          <div id="robot" *ngIf="isRobotPosition(i, j)" class="robot">
            <svg *ngIf="robotPosition.direction == 'north'" width="20" height="20">
              <polygon points="0,20 10,0 20,20" [style.fill]="robotPosition.isInWall" />
            </svg>
            <svg width="20" height="20" *ngIf="robotPosition.direction=='east'">
              <polygon points="0,0 20,10 0,20" [style.fill]="robotPosition.isInWall" />
            </svg>
            <svg width="20" height="20" *ngIf="robotPosition.direction=='south'">
              <polygon points="0,0 10,20 20,0" [style.fill]="robotPosition.isInWall" />
            </svg>
            <svg width="20" height="20" *ngIf="robotPosition.direction=='west'">
              <polygon points="20,0 0,10 20,20" [style.fill]="robotPosition.isInWall" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: calc(100% - 1040px); height: 100%;display: flex;flex-direction: column">
    <div style="width: 100%;margin-right: 20px">
      <div class="notice-board">
        <h1>
          <a target="_blank" href="https://github.com/AdvancedProductivity/awesome-maze" style="font-size: 36px">
            <span nz-icon nzType="github" nzTheme="outline"></span>
          </a>&nbsp;&nbsp;&nbsp;&nbsp;🧐See Here🤖</h1>
          {{str0}}
        <span *ngIf="connectCollection">{{collision}}</span>
        {{str1}}
      </div>
    </div>
    <div style="margin-top: 15px">
      <a href="https://advancedproductivity.github.io/awesome-maze/#/canvas" target="_blank">

        <p style="display: inline-block">collision(撞墙次数): {{collision}}</p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <p style="display: inline">step(步行数): {{walks}}</p>
      </a>
      <div style="">
        Maze Size(迷宫大小): {{mazeSize}}
        <nz-slider [(ngModel)]="mazeSize" [nzMin]="10" [nzMax]="130 "></nz-slider>
      </div>
      <div>
        Speed(速度): {{delay}}
        <nz-slider [(ngModel)]="delay" [nzMin]="0" [nzMax]="1000"></nz-slider>
      </div>
      <button nz-button nzType="primary" (click)="handleFunction()">
        {{ funRunning ? 'Stop' : 'Start'}}
      </button>
      <button style="margin-left: 5px" nz-button nzType="primary" (click)="restart()">New Maze</button>
      <button style="margin-left: 5px" nz-button nzType="primary" (click)="run()">
        {{running?'😇(横冲直撞,Stop)':'😇Run 跑'}}
      </button>
    </div>
    <div style="width: 100%;height: 330px;padding-right: 20px;margin-top: 10px">
      <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="code"
      ></ngx-monaco-editor>
    </div>
  </div>
</div>
