<!--<div style="width: 500px;height: 300px;">-->
<!--  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>-->
<!--</div>-->
<!--<button (click)="zoomIn()">放大</button>-->
<!--<button (click)="zoomOut()">缩小</button>-->

<div style="overflow-x: scroll;overflow-y:scroll">
  <div  #DDic>
    <canvas #myCanvas ></canvas>
  </div>

</div>


<div style="position: absolute;top: 0;right: 0;width: 260px;">
  <p>
    <a target="_blank" href="https://github.com/AdvancedProductivity/awesome-maze" style="font-size: 36px">
      <span nz-icon nzType="github" nzTheme="outline"></span>
    </a>
    按住 alt/Command 缩放可以放大地图<br>
    本想做成地图那种只查看二维数组的一部分数据，发现有点难
  </p>
  <a href="https://advancedproductivity.github.io/awesome-maze/#/html" target="_blank">Html 绝对定位实现</a>

</div>

